In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('adult.csv')
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [177]:
X = df[['workclass', 'education', 'hours-per-week', 'income']]
X = X[ X.workclass != '?']
X = pd.get_dummies(X, columns=['workclass', 'education'])
X.head()

,hours-per-week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,...,education_9th,education_Assoc-acdm,education_Assoc-voc,education_Bachelors,education_Doctorate,education_HS-grad,education_Masters,education_Preschool,education_Prof-school,education_Some-college
0,40,<=50K,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,50,<=50K,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,40,>50K,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,40,>50K,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,30,<=50K,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [178]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [179]:
le.fit(X['income'])

LabelEncoder()

In [180]:
y = pd.Series(data=le.transform(X['income']))
y.head()

0    0
1    0
2    1
3    1
4    0
dtype: int32

In [181]:
del X['income']

### Logistic Regression

In [182]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [183]:
# model = make_pipeline(StandardScaler(), LogisticRegression(max_iter=1000))
# (дает примерно такой же результат)

model = LogisticRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) 
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

C:\Users\acer\AppData\Local\Programs\Python\Python38\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [184]:
model.score(X_test, y_test)

0.7773112285528125

In [185]:
model.score(X_train, y_train)

0.7773502947564381

### SVC

In [186]:
from sklearn.svm import SVC

In [187]:
model2 = make_pipeline(StandardScaler(), SVC())
model2.fit(X_train, y_train)
y_pred2 = model2.predict(X_test)
model2.score(X_test, y_test)

0.7804966336060233

In [188]:
model2.score(X_train, y_train)

0.7807322370462302